.places {
    display: flex;
    flex-direction: column;
    padding-left: 11.5vw;
    padding-right: 11.5vw;
    padding-top: 92px;
}

@media screen and (max-width:1024px) {
    .places {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width:768px) {
    .places {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 88px;
    }
}

@media screen and (max-width:690px) {
    .places {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 80px;
    }
}

    @media screen and (max-width:320px) {
        .places {
            padding: 64px 0 0;
        }
    }