.place__image {
    grid-area: place__image;
    grid-column: 1/2;
    width: 35.938vw;
}

@media screen and (max-width:1024px) {
    .place__image {
        width: 440px;
    }
}

/*@media screen and (max-width:1024px) {*/
/*    .place__image {*/
/*        width: 45vw;*/
/*    }*/
/*}*/

@media screen and (max-width:768px) {
    .place__image {
        width: 340px;
        justify-self: center;
    }
}

@media screen and (max-width:695px) {
    .place__image {
        width: 80vw;
    }
}

@media screen and (max-width:320px) {
    .place__image {
        width: 320px;
    }
}