.header {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    min-height: 58px;
    padding-top: 28px;
    /*padding-left: 48px;*/
    /*padding-right: 48px;*/
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:1210px) {
    .header {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width:768px) {
    .header {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (max-width:425px) {
    .header {
       padding-top: 20px;
    }
}

@media screen and (max-width:320px) {
    .header {
        padding-top: 16px;
        padding-right: 16px;
        padding-left: 16px;
    }
}