.cover__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1.06;
    max-width: 560px;
    text-align: center;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 32px;
}

@media screen and (max-width:600px) {
    .cover__title {
        font-size: 9.375vw;
        font-weight: 900;
        line-height: 1.06;
    }
}