.place__website {
    grid-area: place__website;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    transition: opacity .3s;
}

.place__website:hover {
    opacity: 80%;
}
